html {
    height:100%;
    margin:auto;
    color: white;
}

body {

    background-image: url(../images/background.jpg);
    background-size: 100%;
    font-family: 'Teko', sans-serif;
    color: white;
}

.jumbotron {

     background:transparent;
     
}
 .display {

     color:white;
    
 }
.row {

    margin-left:25%;
    

}

#mainimg {

    height: 250px;
    width: 350px;
}

