
body{
	font-family: 'Ubuntu', sans-serif;
	background-color: rgb(239, 239, 240);

}
.container-fluid{
	width:95%;
	height:100%;
	backgroundcolor:rgb(96, 96, 248)!important;
	margin:auto;
	
	
}


#video{
	
	height:400px;
	margin:0;
}

.inputField {

	
	height:400px;
	padding:1%;
	background-image: url(inputimg.jpg);
	background-size: 100%;
}
.card{
	margin-left:17%;
	margin-top:2px;
}
.col-sm-4{
	border: solid black 1px;
	text-align: center;
}

#dog1 {
	
	
	height:400px;
	background-image: url(inputimg.jpg);
	background-size: 100%;
}

#dog2 {
	
	height:400px;
	background-image: url(inputimg.jpg);
	background-size: 100%;
}

#dog3{
	
	height:400px;
	background-image: url(inputimg.jpg);
	background-size: 100%;

}
#dog4{
	
	height:400px;
	background-image: url(inputimg.jpg);
	background-size: 100%;
}
#dog5{
	
	height:400px;
	background-image: url(inputimg.jpg);
	background-size: 100%;
}
#jumbotron1{
	margin-top:10px;
	margin-bottom:15px;
	text-align:center;
	background-image: url("jumbotron.jpeg");
	background-size:100%;
	background-position:5%;
	opacity: .95;
	height:275px;
	color:black;
	font-weight:bolder;
	
}

#openText{
	color:black;
}

#jumbotron2{
	height:600px;
	width:100%;
	text-align:center;
	border:solid 2px black;

}




